

html {
  position: relative;
  min-height: 100%;
}
body {
  overflow-x: hidden;
  /* font-family: "Gilroy"; */
  font-family: 'Khula', sans-serif;
  font-size: 14px;
}
body.sticky-footer {
  margin-top: 58px;
}
body.sticky-footer .content-wrapper {
  min-height: calc(100vh - 56px - 56px);
}
/* body.fixed-nav {
  padding-top: 56px;
} */
.btn, .btn:focus, button:focus{
    outline: 0;
}
.text-primary {
    color: #F26051 !important;
}
.text-dark {
    color: #28292C !important;
}
.text-muted{
    color: #5E6F7B;
}


.f-10{
    font-size: 10px;
}
.f-12{
    font-size: 12px;
}
.f-13{
    font-size: 13px;
}
.f-14{
    font-size: 14px;
}
.border-0{
    border: 0;
}
.border-r-4{
    border-radius: 4px;
}
.border-r-60{
    border-radius: 60px;
}
.h-100{
    min-height: 100px;
}
.line-h-11{
    line-height: 11px;
}
.line-h-16{
    line-height: 16px;
}
.line-h-18{
    line-height: 18px;
}
.line-h-20{
    line-height: 20px;
}
.less{display:none;}
.scrollbar
{
	overflow-y: scroll;
}

.force-overflow
{
	min-height: 100px;
}
#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.f-w-4{
    font-weight: 400;
}
.f-w-5{
    font-weight: 500;
}
.f-w-6{
    font-weight: 600;
}
.f-w-7{
    font-weight: 700;
}
.bg-transparent{
    background: transparent;
}
.content-wrapper {
  min-height: calc(100vh - 56px);
  padding-top: 1rem;
}
.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 3px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}
.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}
.scroll-to-top:hover {
  background: #343a40;
}
.scroll-to-top i {
  font-weight: 800;
}
.smaller {
  font-size: 0.7rem;
}
.o-hidden {
  overflow: hidden !important;
}
.z-0 {
  z-index: 0;
}
.z-1 {
  z-index: 1;
}
#mainNav .navbar-collapse {
  overflow: auto;
  max-height: 75vh;
}
#mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
  cursor: pointer;
}
#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  float: right;
  content: '\f107';
  font-family: 'FontAwesome';
}
#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after {
  content: '\f105';
  margin-left: 20px;
}
#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level {
  padding-left: 0;
}
#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
  display: block;
  padding: 0.5em 0;
}
#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:focus, #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:hover,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:focus,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:hover {
  text-decoration: none;
}
#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a {
  padding-left: 1em;
}
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
  padding-left: 2em;
}
#mainNav .navbar-collapse .sidenav-toggler {
  display: none;
}
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
  position: relative;
  min-width: 45px;
}
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  float: right;
  width: auto;
  content: '\f105';
  border: none;
  font-family: 'FontAwesome';
}
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link .indicator {
  position: absolute;
  top: 5px;
  left: 21px;
  font-size: 10px;
}
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown.show > .nav-link:after {
  content: '\f107';
}
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
  overflow: hidden;
  max-width: none;
  text-overflow: ellipsis;
}
#mainNav.fixed-top .sidenav-toggler {
  display: none;
}
#mainNav.fixed-top.navbar-dark .sidenav-toggler {
  background-color: #212529;
}
#mainNav.fixed-top.navbar-dark .sidenav-toggler a i {
  color: #adb5bd;
}
#mainNav.fixed-top.navbar-light .sidenav-toggler {
  background-color: #dee2e6;
}
#mainNav.fixed-top.navbar-light .sidenav-toggler a i {
  color: rgba(0, 0, 0, 0.5);
}
body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler {
  overflow-x: hidden;
  width: 55px;
}
body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-item,
body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-link {
  width: 55px !important;
}
body.sidenav-toggled #mainNav.fixed-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}
body.sticky-footer .content-wrapper .container-fluid {
    padding-left: 38px;
}
.toolbar {
    position: fixed;
    top: 0;
    left: 272px;
    right: 0;
    /* width: 100%; */
    z-index: 1035;
    min-height: 87px;
    padding: 0 22px;
}
.toolbar .navbar-nav {
    flex-direction: row;
    align-items: center;
}
a#langDropdown {
    background: #F9FAFD;
    border: 0.5px solid #EBEBEB;
    border-radius: 40px;
    padding: 8px 17px;
}
#langDropdown {
    background: #F9FAFD;
    border: 0.5px solid #EBEBEB;
    border-radius: 40px;
    padding: 8px 17px;
    font: normal normal normal 14px/20px 'Khula', sans-serif;
    letter-spacing: 0px;
    color: #28292C;
    font-weight: 700;
}
#langDropdown span {
    padding: 0 12px;
}
.ms-n5 {
    margin-left: -40px;
}
.search-box {
    width: 340px;
}
#example-search-input {
    position: relative;
    box-shadow: 0px 3px 6px #0000001a;
    border: 1px solid #999999;
    border-radius: 23px;
    padding-left: 42px;
}
.input-group>.form-control:focus{
    z-index: 1;
}


.search-box ion-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    z-index: 1;
    font-size: 24px;
    transform: translateY(-50%);
}
#example-search-input:focus::placeholder {
    font-size: 0;
  }
#mainNav.static-top .sidenav-toggler {
  display: none;
}
body.sidenav-toggled #mainNav.static-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}
.content-wrapper {
    overflow-x: hidden;
    background: #f6f7fa;
}
.breadcrumb {
    background: transparent;
    padding: 28px 30px 3px 0;
}
.breadcrumb-item {
    display: -ms-flexbox;
    display: block;
}
.breadcrumb-item>h2 {
    letter-spacing: 0px;
    color: #5E6F7B;
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
    display: block;
    margin: 0;
}
.view-link {
    text-decoration: underline;
    letter-spacing: 0px;
    color: #F26051;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}
.view-link>ion-icon {
    padding-left: 6px;
    font-size: 8px;
}
#sidenavToggler i {
  font-weight: 800;
}
.navbar-sidenav-tooltip.show {
  display: none;
}
body.sidenav-toggled .navbar-sidenav {
  width: 55px;
}
body.sidenav-toggled .navbar-sidenav .nav-link-text {
  display: none;
}
body.sidenav-toggled .navbar-sidenav .nav-item,
body.sidenav-toggled .navbar-sidenav .nav-link {
  width: 55px !important;
}

body.sidenav-toggled .navbar-sidenav .nav-item:after,
body.sidenav-toggled .navbar-sidenav .nav-link:after {
  display: none;
}

body.sidenav-toggled .navbar-sidenav .nav-item {
  white-space: nowrap;
}

body.sidenav-toggled .navbar-sidenav-tooltip.show {
  display: flex;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  color: #868e96;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 5px;
   
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link>ion-icon {
    font-size: 18px;
    margin-right: 10px;
    margin-left: 14px;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
  background: #f8edee;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover ion-icon, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover .nav-link-text {
    color: #F26051;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link.active {
    background: #f8edee;
    color: #F26051;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:before {
    content: '';
    height: 28px;
    width: 3px;
    background: #f3776a;
    border-radius: 0 4px 4px 0;
    opacity: 0;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link.nav-link-collapse::before, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link.link-bottom::before{
   display: none;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link.link-bottom {
    padding: 6px 4px;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover:before, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link.active:before {

    opacity: 1;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link.nav-link-collapse {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #cdd0d98b;
    border-radius: 8px;
    margin-bottom: 30px;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link.nav-link-collapse .avtar-1 {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link.nav-link-collapse .avtar-1>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.followers {
    border-top: 1px solid rgba(40, 41, 44, 0.08);
    padding: 20px 16px !important;
}
.followers .card-body>ul {
    list-style: none;
    padding: 0;
}
.avatar-xl {
    height: 3rem;
    width: 3rem;
}
.avatar {
    height: 22px;
    width: 22px;
    border-radius: 50%;
}
.avatar-xl .avatar-img {
    height: 3rem;
}
.avatar .avatar-img {
    border-radius: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.indicator {
    width: 4px;
    height: 4px;
    border-radius: 50%;
}
.bg-danger {
    background: rgba(242, 96, 81, 1);
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
/* #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link.active:before {
    content: '';
    height: 22px;
    width: 3px;
    background: #f3776a;
    border-radius: 0 4px 4px 0;
} */
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
  color: #868e96;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover,
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus,
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
  color: #adb5bd;
}

#mainNav.navbar-dark .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  color: #adb5bd;
}


#mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
  color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover,
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus,
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
  color: rgba(0, 0, 0, 0.7);
}

#mainNav.navbar-light .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  color: rgba(0, 0, 0, 0.5);
}
.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -25px;
  right: -25px;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}
.card-login {
  max-width: 25rem;
}
.card-register {
  max-width: 40rem;
}
footer.sticky-footer {
    width: 100%;
    height: auto;
    background-color: #F9FAFD;
    padding: 40px 60px;
    margin-top: 80px;
}
.footer-widget ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.slick-arrow {
    z-index: 1;
    color: #28292C;
    background-color: #fff;
    width: 38px;
    height: 38px;
    font-size: 0.875rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 2px 10px 20px #50505027;
    border: 0;
    border-radius: 50%;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    line-height: 50px;
}
.slick-arrow>ion-icon {
   font-size: 22px;
}
.slide-arrow.prev-arrow {
    left: -22px;
}
.slide-arrow.next-arrow {
    right: 9px;
}
.products .card:first-child {
    margin-left: 0;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0px;
    list-style-type: none;
    background: #e4e4e4;
    height: 2px;
    margin-top: 38px;
}
.slick-dots li {
    margin: 0 0.65rem;
    -webkit-flex: 1 0 0px;
}
.slick-dots button {
    display: block;
    width: 100%;
    height: 2px;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: rgb(94 111 123 / 10%);
    text-indent: -9999px;
}
.slick-dots li.slick-active button {
    background-color: rgb(94 111 123 / 40%);
}
.products .card {
    background: #FFFFFF;
    box-shadow: 2px 10px 20px #50505010;
    border-radius: 10px;
    margin: 0 30px;
    border: 0;
    padding: 18px;
}
.products .card img {
    width: 100%;
    border-radius: 6px;
}
.btn-primary {
    color: #fff;
    background-color: #F26051;
    border-color: #F26051;
    padding: 8px 40px;
}
.btn-cart {
    background: rgb(242 96 81 / 12%);
    width: 44px;
    height: 44px;
    line-height: 9px;
}
.badge-danger {
    border-radius: 6px;
    color: #fff;
    background-color: #FF1800;
}
span.count {
    position: absolute;
    right: -4px;
    top: -3px;
    line-height: 18px;
    padding: 1px;
    width: 18px;
    height: 18px;
}
.toolbar .navbar-nav>li:first-child:after {
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    height: 30px;
    width: 1px;
    background: #dedddd;
}
.btn-cart:before{
    content: url(images/bag-icon.png);
}
.btn-icon {
    width: 28px;
    height: 28px;
    line-height: 36px;
    padding: 0;
}
.btn-secondary {
    color: #f26051;
    background-color: #F9FAFD;
    border-color: #F9FAFD;
    font-size: 14px;
   
}
.btn-add-basket {
    padding: 8px 22px;
    display: flex;
    align-items: center;
}
.btn-add-basket:before {
    content: url(images/bag-icon.png);
    margin-right: 10px;
}
.widget-list>ul {
    list-style: none;
    display: flex;
    align-items: center;
}
.widget-icon {
    font-size: 11px;
    line-height: 15px;
    color: #5E6F7B;
    -webkit-flex: 1 0 0px;
    display: flex;
    align-items: center;
    position: relative;
}
.widget-icon:last-child{
    margin-right: 0;
}
li.widget-icon:after {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #C3C7D1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 61px;
}
.widget-icon:last-child:after{
    display: none;
}
.widget-icon.rating:before {
    content:url(images/star-icon.png);
    margin-right: 6px;
}
.widget-icon.user:before {
    content:url(images/user-icon.png);
    margin-right: 6px;
    width: 14px;
    height: 24px;
}
.widget-icon.cooking:before {
    content:url(images/cooking-icon.png);
    margin-right: 6px;
}
.widget-icon.waiting:before {
    content:url(images/cutlery.png);
    margin-right: 6px;
}
.products .card .card-header {
    position: relative;
}
span.time-tag {
    position: absolute;
    bottom: 10px;
    right: 13px;
    background: rgb(51 51 51 / 40%);
    color: #fff;
    padding: 1px 8px 0;
    border-radius: 6px;
    line-height: 23px;
}

.navbar-toggler {
   background-color: #F26051;
    /* border-color: rgb(243 110 97); */
}

/* --- Responsive CSS --- */

@media (min-width: 1200px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 992px) {
    .content-wrapper {
      margin-left: 250px;
    }
  }
@media (min-width: 992px) {
    nav#mainNav {
        padding: 0;
    }
    body.sidenav-toggled .content-wrapper {
      margin-left: 55px;
    }
    #mainNav .navbar-brand {
        width: 250px;
        background: #f9fafd;
        padding: 20px 16px;
    }
    #mainNav .navbar-collapse {
      overflow: visible;
      max-height: none;
    }
    #mainNav .navbar-collapse .navbar-sidenav {
      position: absolute;
      top: 0;
      left: 0;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 75px;
    }
    #mainNav .navbar-collapse .navbar-sidenav > .nav-item {
      width: 250px;
      padding: 0 10px;
    }
    /* #mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
      padding: 1em;
    } */
    #mainNav.navbar-expand-lg .navbar-nav .nav-link {
        padding: 14px 0;
    }
    #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
    #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
      padding-left: 0;
      list-style: none;
    }
    #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li,
    #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li {
      width: 250px;
    }
    #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
    #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
      padding: 1em;
    }
    #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a {
      padding-left: 2.75em;
    }
    #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
      padding-left: 3.75em;
    }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
      min-width: 0;
    }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
      width: 24px;
      text-align: center;
    }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
      max-width: 300px;
    }
  #mainNav.fixed-top .navbar-sidenav {
    /* height: calc(100vh - 112px); */
    height: 100vh;
  }
  #mainNav.fixed-top .sidenav-toggler {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: calc(100vh - 56px);
  }
  #mainNav.fixed-top .sidenav-toggler > .nav-item {
    width: 250px;
    padding: 0;
  }
  #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link {
    padding: 1em;
  }
  #mainNav.static-top .sidenav-toggler {
    display: flex;
  }
  /* footer.sticky-footer {
    width: calc(100% - 250px);
  } */
  body.sidenav-toggled footer.sticky-footer {
    width: calc(100% - 55px);
  }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
    background: #F9FAFD;
    padding-top: 24px;
}
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a {
      color: white !important;
      background-color: #495057;
    }
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:hover {
      color: white;
    }
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
      background: #343a40;
    }

  #mainNav.navbar-light .navbar-collapse .navbar-sidenav {
    background: #f8f9fa;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a {
    color: #000 !important;
    background-color: #e9ecef;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:hover {
    color: #000;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
    background: #f8f9fa;
  }
}

@media (min-width: 768px) {
    .card-columns {
      column-count: 2;
    }
  }
@media (max-width: 768px) {
  .toolbar {
    position: absolute;
    top: 73px;
    left: 0;
    z-index: 0;
    background: #fff;
    min-height: 66px;
}
.content-wrapper {
    padding-top: 120px;
}
body.fixed-nav {
    padding-top: 0;
}
}
@media (min-width: 767px) {
    .footer-bottom.text-right, .footer-widget, .footer-widget.text-right {
        text-align: center !important;
    }
    ul.social-area {
        justify-content: center !important;
        margin: 30px 0;
    }
    .footer-widget {
        margin-bottom: 20px;
    }

  }
@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}

